
h1 {
  text-align: center;
  color: crimson;
}


body {
  background-image: url('../images/p.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: gold;
}

.form {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.form-group {
  font-size: 13px;
  color: black;
  font-weight: 500;
}

.content {
  padding-bottom: 10px;
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 70%;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 0%;
  background-color: teal;
}

.container{
  width: 100%;
  margin: 0px;;
}

#gender {
  margin-bottom: 5px;
}

.form-control,
.form-select {
    display: block;
    width: 40%;
    margin-bottom: 10px;
}

#dayOfTheWeek,#akanName,.label {
  display: inline-block;
}